.ui_card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  background-color: $color-primary;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: $shadow-primary;
  transition: opacity 600ms, visibility 600ms;

  &:hover {
    visibility: visible;
    opacity: 1;
  }

  &-image {
    width: 11rem;
  }

  &-title {
    margin: 0.2rem;
  }

  &-details {
    font-size: 1.2rem;
    list-style: none;
  }

  &-link {
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
    text-decoration: underline;
    cursor: pointer;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
