$color-primary: #c9c9c9;
$color-primary-light: #f3f3f3;

$color-secondary: #456386;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$shadow-primary: 0 0 4px 2px rgba(20, 20, 20, 0.25);

$default-font-family: "Fira Sans", sans-serif, Verdana, sans-serif;
$default-font-size: 1.4rem;
$default-font-weight: 500;