.util-margin-right-small {
  margin-right: 0.6rem !important;
}

.util-negative-margin-top {
  margin-top: -15px !important;
  padding-top: 0px !important;
}

.util-display-none {
  display: none !important;
}
.util-display-flex {
  display: flex !important;
}

.util-pointer {
  cursor: default;
  pointer-events: auto;
}
